{% extends 'base.html.twig' %}

{% block title %}Garage Auto{% endblock %}

{% block body %}
        <div class="row justify-content-center" id="barservice">
            {% for service in services %}
                <div class="col-md-2 mb-2 mt-2 text-center">
                    <a type="button" href="{{ path('app_contact') }}" class="btn btn-danger">{{ service.nom }}</a>
                </div>
            {% endfor %}
        </div>
<main class="container">
    <div class="row">
        <div class="col-md-8 mt-3" style="width: 100%">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Véhicules ajoutés récemment</h3>
        </div>
    </div>
    <div class="row row-cols-md-3 mb-2">
        {% include 'base/list.html.twig' with { vehicles } %}
    </div>
</main>
<br>
    <hr>
    {% for commentaries in commentaries %}
    <div class="container">
       <p>Écrit par : {{ commentaries.nom }}</p>
       <p>Note : {{ commentaries.note }}/5</p>
       <p>{{ commentaries.description }}</p>
        <hr>
    </div>
    
{% endfor %}
{% endblock %}
