<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container"> 
            <a class="navbar-brand mr-auto" href="/"> 
                <img src="/imageMain/vparrotnav.png" class="navbar-brand-img" alt="...">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> <!-- Utilisation de justify-content-end pour aligner les éléments de la barre de navigation à droite -->
                <ul class="navbar-nav">
                 <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_vehicle')}}">Voitures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_commentary') }}">Avis</a>
                    </li>
                    {% if is_granted('ROLE_STAFF') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
