{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card text-center">
        <img src="{{ vich_uploader_asset(vehicle, 'imageFile') }}" class="card-img-top mx-auto mt-4" alt="Vehicle Image" style="max-width: 900px;">
        <div class="card-body">
            <h2 class="card-title">{{ vehicle.titre }}</h2>
            <p class="card-text">
                {{ vehicle.date|date('Y-m-d') }} | {{ vehicle.kilometrage }} Km | {{ vehicle.boite }} | {{ vehicle.energie }}
            </p>
            <hr />
            <h4 class="card-title">{{ vehicle.prix }} €</h4>
            <div class="text-center">
                <a href="#" class="btn btn-primary">Appeler</a>
            </div>
        </div>
    </div>


    <div class="mt-4">
        <h3>Spécificités du véhicule</h3>
        <ul class="list-group">
            <li class="list-group-item">Marque: {{ vehicle.marque }}</li>
            <li class="list-group-item">Année: {{ vehicle.date|date('Y-m-d') }}</li>
        </ul>
    </div>
</div>

{% endblock %}
