{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card text-center">
        <img src="{{ vich_uploader_asset(vehicle, 'imageFile') }}" class="card-img-top mx-auto mt-4" alt="Vehicle Image" style="max-width: 900px;">
        <div class="card-body">
            <h2 class="card-title">{{ vehicle.marque }} {{ vehicle.titre }}</h2>
            <p class="card-text">
                {{ vehicle.date|date('Y') }} | {{ vehicle.kilometrage }} Km | {{ vehicle.boite }} | {{ vehicle.energie }}
            </p>
            <hr />
            <h4 class="card-title">{{ vehicle.prix }} €</h4>
            <div class="text-center">
                <a href="#" class="btn btn-primary">Appeler</a>
            </div>
        </div>
    </div>


    <div class="mt-4">
        <h3>Spécificités du véhicule</h3>
        <ul class="list-group">
            <li class="list-group-item">Marque: {{ vehicle.marque }}</li>
            <li class="list-group-item">Date de mise en circulation: {{ vehicle.date|date('Y-m-d') }}</li>
            <li class="list-group-item">Kilometrage: {{ vehicle.kilometrage }} Km</li>
            <li class="list-group-item">Boite: {{ vehicle.boite }}</li>
            <li class="list-group-item">Energie: {{ vehicle.energie}}</li>
            <li class="list-group-item">Prix: {{ vehicle.prix}} €</li>
        </ul>
    </div>
</div>
{%  include 'contact/contact2.html.twig'  %}
{% endblock %}
