{% extends 'base.html.twig' %}

{% block title %}Hello VehicleController!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="card text-center">
        <img src="{{ selectedVehicle.image }}" class="card-img-top mx-auto mt-4" alt="Vehicle Image" style="max-width: 400px;">
        <div class="card-body">
            <h2 class="card-title">{{ selectedVehicle.titre }}</h2>
            <p class="card-text">
                {{ selectedVehicle.date }} | {{ selectedVehicle.kilometrage }} | {{ selectedVehicle.boite }} | {{ selectedVehicle.energie }}
            </p>
            <hr />
            <h4 class="card-title">{{ selectedVehicle.prix }}</h4>
            <div class="text-center">
                <a href="#" class="btn btn-primary">Voir l'Annonce</a>
            </div>
        </div>
    </div>


    <div class="mt-4">
        <h3>Spécificités du véhicule</h3>
        <ul class="list-group">
            <li class="list-group-item">Marque: {{ selectedVehicle.marque }}</li>
            <li class="list-group-item">Modèle: {{ selectedVehicle.modele }}</li>
            <li class="list-group-item">Année: {{ selectedVehicle.annee }}</li>
        </ul>
    </div>
</div>

{% endblock %}
